# Dependencies
client/node_modules/
server/node_modules/

# Build
client/dist/
server/dist/

# Environment Variables
.env
client/.env
server/.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
